.nav-container {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 38, 134);
  color: #fff;
}

.logo img {
  height: 50px;
  width: 120px;
  flex: 0.3;
}

.nav-element {
  justify-content: space-between;
  font-size: 20px;
  flex: 0.5;
  text-align: center;
  font-weight: 300;
}
.nav-element span {
  display: inline;
  font-family: cursive;
  margin-right: 30px;
}

.nav-element span:hover {
  color: black;
  text-decoration: underline;
}

.nav-element2 {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  flex: 0.5;
  text-align: end;
  font-weight: 400;
}

.nav-element2 span {
  margin-right: 20px;
}
.nav-element2 span:hover {
  color: black;
  text-decoration: underline;
}

.search {
  font-size: large;
  border: none;
  font-size: 16px;
}
.search-input {
  border: none;
  border-radius: 20px;
  font-family: cursive;
  color: rgb(4, 59, 61);
}
.search-input::placeholder {
  font-family: cursive;
  font-size: medium;
  margin-left: 10px;
}

.main-Detail {
  background-color: rgba(131, 129, 127, 0.571);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.anime-list-Detail {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 30%;
  margin-right: 2px;
  margin-left: 5px;
}

.anime-recomendation:hover {
  transform: scale(0.9);

  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 10px;
}
.synopsis {
  text-align:justify;
  font-size: 16px;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 10px;
  color: #888;
}
select {
  display: inline;
  font-family: cursive;
  margin-right: 30px;
  padding: 10px;
  font-size: 19px;
  text-decoration: none;
  background-color: rgb(0, 38, 134);
  color: #fff;
  cursor: pointer;
  border: none;appearance: none;
}
select:hover {
  display: inline;
  font-family: cursive;
  margin-right: 30px;
  padding: 10px;
  font-size: 19px;
  text-decoration: none;
  background-color: rgb(0, 38, 134);
  color: #000000;
}

/* Style the option elements */
option {
 
  width: 33.33%; /* Set the width to display three options per line */
  box-sizing: border-box;
  background-color: rgb(0, 38, 134);
  color: #fff;
}
.synopsiss {
  font-size: 16px;
  font-weight: bold;
  font-family: cursive;
  color: #4e4249;
}

.anime-title {
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 10px;
}

.card-Detail {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.card-Detail img {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.title-rec {
  font-size: 16px;
  font-weight: bold;
}
.card-Detail .durration {
  font-size: 14px;
  color: #888;
}
.status {
  font-size: 14px;
  color: #888;
  flex: 1;
  text-align: end;
}
.title-recommendation {
  display: flex;
  align-items: center;
  text-align: center;
}
.anime-recomendation {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 15%;
  margin-right: 2px;
  margin-bottom: 20px;
}
.card-rec {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll; /* Enables horizontal scrolling */
}

.name {
  display: flex;
  flex-wrap: nowrap;
}

::-webkit-scrollbar {
  color: #000000;
}

.image-rec {
  width: 200px;
  height: 330px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.rec {
  font-size: 16px;
  font-weight: bold;
  font-family: cursive;
}
