.nav-container {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 38, 134);
  color: #fff;
}

.logo img {
  height: 50px;
  width: 120px;
  flex: 0.3;
}

.nav-element {
  justify-content: space-between;
  font-size: 20px;
  flex: 0.5;
  text-align: center;
  font-weight: 300;
}
.nav-element span {
  display: inline;
  font-family: cursive;
  margin-right: 30px;
}

.nav-element span:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.nav-element2 {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  flex: 0.5;
  text-align: end;
  font-weight: 400;
}

.nav-element2 span {
  margin-right: 20px;
}
.nav-element2 span:hover {
  color: black;
  text-decoration: underline;
}

.search {
  font-size: large;
  border: none;
}
.search-input {
  border: none;
  border-radius: 20px;
  font-family: cursive;
 color: rgb(4, 59, 61);
}
.search-input::placeholder {
 font-family: cursive;
 font-size: medium;
 margin-left: 10px;
}

.main {
  background-color: rgba(131, 129, 127, 0.571);
  justify-content: center;
  align-items: center;
  display: flex;
}
.anime-list {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: 15%;
  margin-right: 2px;
}

.anime-list:hover {
  transform: scale(0.9);

  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
  height: 330px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card .title {
  font-size: 16px;
  font-weight: bold;
  flex: 1;
}
.card .durration {
  font-size: 14px;
  color: #888;
}
.status {
  font-size: 14px;
  color: #888;
  flex: 1;
  text-align: end;
}
.title-status {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .search-input {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .logo img {
    height: 50px;
    width: 120px;
  }
  .nav-element {
    font-size: 20px;
  }
  .nav-element2 {
    font-size: 20px;
  }
  .search {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .logo img {
    height: 50px;
    width: 110px;
  }
  .nav-element {
    font-size: 18px;
  }
  .nav-element2 {
    font-size: 18px;
  }
  .search {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .logo img {
    height: 38px;
    width: 100px;
  }
  .nav-element {
    font-size: 15px;
    flex: 0.4;
  }
  .nav-element2 {
    font-size: 15px;
  }
  .search {
    font-size: 15px;
  }
  .nav-element span {
    margin-right: 20px;
  }
  .nav-element2 span {
    margin-right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .nav-container {
    width: auto;
  }
  .anime-list {
    flex-basis: calc(10% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .logo img {
    height: 35px;
    width: 80px;
  }
  .nav-element {
    font-size: 13px;
    flex: 0.3;
  }
  .nav-element2 {
    font-size: 13px;
  }
  .search {
    font-size: 13px;
  }
  .nav-element span {
    margin-right: 10px;
  }
  .nav-element2 span {
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .nav-container {
    width: auto;
  }
  .logo img {
    height: 30px;
    width: 70px;
  }
  .anime-list {
    flex-basis: calc(10% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .nav-element {
    font-size: 12px;
  }
  .nav-element2 {
    font-size: 12px;
  }
  .search {
    font-size: 10px;
  }
  .nav-element span {
    margin-right: 10px;
  }
  .nav-element2 span {
    margin-right: 8px;
  }
}
